<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coba NodeJS</title>
</head>
<body>
    <h1>LIST PERSON</h1>
    <ul>
        <% data.forEach(person => { %>
            <li>
                <span><%= person.name %></span>
            </li>
            <li>
                <span><%= person.age %></span>
            </li>
            <li>
                <span><%= person.address %></span>
            </li>
        <% }) %>
    </ul>
</body>
</html>